body {
    background-color: #EDF0F9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 0.8rem;
}

/* Filter Section */
.filter-create {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #151A3C;
}

.image-empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    color: #3a3a3ae1;
}

/* Filter Section */
.filters {
    margin-bottom: 20px;
}

.filter-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Event List */
.event-list {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

/* Event Card Styling */
.event-card {
    display: flex;
    flex-direction: row;  /* Align items horizontally */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;  /* Smooth transition for shadow */
}

.event-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #EFF7ED;
}

.date-number {
    font-size: 2rem;
    font-weight: bold;
    color: #151A3C;
}

.date-month {
    font-size: 1rem;
    text-transform: uppercase;
    color: #151A3C;
}

.event-details {
    flex: 1;
    padding-left: 20px;
}

.event-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: #151A3C;
}

.event-description {
    font-size: .9rem;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.view-details {
    margin-right: 8px;
}

.edit-delete {
    display: flex;
    gap: 10px;
}

.edit-event,
.delete-event,
.view-details {
    color: #3a3a3ae1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}

.view-details:hover {
    color: #baa7a5;
    border: none;
    box-shadow: #ccc;
    background-color: #f7edec49;
    border-radius: 100%;
}

.edit-event:hover {
    color: #5192eed5;
    border: none;
    box-shadow: #ccc;
    background-color: #82b2f64e;
    border-radius: 100%;
}

.delete-event:hover {
    color: #f72f2f;
    border: none;
    box-shadow: #ccc;
    background-color: #f5505057;
    border-radius: 100%;
    height: 100%;
}

.delete-event-form {
    margin: 0;
}

.delete-event {
    color: #3a3a3ae1;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tooltip {
    position: relative;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.filtericonbox {
    border: none;
    background-color: transparent;
    height: 40px;
    margin-bottom: 20px;
    width: 40px;
}

.filtericon {
    color: #3a3a3ae1;
    border: none;
    background-color: transparent;
    padding: 10px;
}

.createicon {
    color: #3a3a3ae1;
    border: none;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
}

.filtericon:hover {
    color: #3a3a3a87;
    border: none;
    box-shadow: #ccc;
    background-color: #EDF0F9;
    border-radius: 100%;
}

.createicon:hover {
    color: #3a3a3ad5;
    border: none;
    box-shadow: #ccc;
    background-color: #d8ddef;
    border-radius: 100%;
}

.filter-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


/* Media Queries for Responsive Design */
@media screen and (max-width: 1200px) {
    .container {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        font-size: 1.5rem;
    }

    .event-card {
        flex-direction: column;
    }

    .event-date {
        width: 100px;
        height: 100px;
        margin-bottom: 18px;
    }

    .event-actions {
        flex-direction: row;
        align-items: flex-start;
    }

    .filter-create {
        justify-content: space-between;
        width: 100%;
    }

    .filters {
        width: 100%;
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width: 480px) {
    .event-card {
        padding: 15px;
    }

    .event-date {
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 1.2rem;
    }

    .filter-input {
        font-size: 0.8rem;
        margin-right: 5px;
    }

    .filtericon, .createicon {
        padding: 8px;
    }
}
